// catppuccin latte colors https://catppuccin.com/palette/

// colors
$rosewater: #dc8a78;
$flamingo: #dd7878;
$pink: #ea76cb;
$mauve: #8839ef;
$red: #d20f39;
$maroon: #e64553;
$peach: #fe640b;
$yellow: #df8e1d;
$green: #40a02b;
$teal: #179299;
$sky: #04a5e5;
$sapphire: #209fb5;
$blue: #1e66f5;
$lavender: #7287fd;

// below: colors ordered from darkest to lightest

// text colors
$text: #4c4f69;
$subtext-1: #5c5f77;
$subtext-0: #6c6f85;

// overlay colors
$overlay-2: #7c7f93;
$overlay-1: #8c8fa1;
$overlay-0: #9ca0b0;

// surface colors
$surface-2: #acb0be;
$surface-1: #bcc0cc;
$surface-0: #ccd0da;

// base colors
$base: #eff1f5;
$mantle: #e6e9ef;
$crust: #dce0e8;
